<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tree index</title>
</head>

<body>
    <div class="navbar navbar-dard bg-dark shadow-sm d-flex justify-content-center">
        <h1 style="color: white">Arborist Go!</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <img class='img-responsive' src="Image/Slide1.PNG" style="width:900px;height:700px;" alt="">
            </div>
        </div>
        <div class=" row">
            <div class="col">
                <div class="card">
                    <div class="card-header d-flex justify-content-center">
                        <h2>Login your APP</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <form method="GET" action="/login">
                                    <button class="btn btn-primary justify-content-center " type="Submit">Login</button>
                                </form>

                            </div>
                            <div class="col d-flex justify-content-center">
                                <form method="GET" action="/reg">
                                    <button class="btn btn-primary justify-content-center" type="Submit">Sign
                                        up</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2>Rank List</h2>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Ranking</th>
                                <th scope="col">User Name</th>
                                <th scope="col">score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>first user</td>
                                <td>100</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> -->
    </div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</body>

<script type="text/javascript" src="js/index.js"></script>

</html>