<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="text/javascript" src="js/login.js"></script>
</head>

<body>
    <div class="navbar navbar-dard bg-dark shadow-sm"><button class="btn btn-primary">Back to main page</button></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h2>Account login</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/post_log">
                            <div class="form-group">
                                <label for="userEmail">Email address</label>
                                <input type="email" class="form-control" name="userEmail" id="userEmail"
                                    aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone
                                    else.</small>
                            </div>
                            <div class="form-group">
                                <label for="userPsw">Password</label>
                                <input type="password" class="form-control" name="userPsw" id="userPsw"
                                    placeholder="Password">
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button type="submit" class="btn btn-primary" id='submitLogBtn'>sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h2>Regester</h2>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <form method="POST" action="/post_reg">
                                <div class="form-group">
                                    <label for="userEmail">Email address</label>
                                    <input type="email" class="form-control" id="userEmail" name="userEmail"
                                        aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                        anyone
                                        else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="userPsw">Password</label>
                                    <input type="password" class="form-control" name="userPsw" id="userPsw"
                                        placeholder="Password">
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>
                                <button type="submit" class="btn btn-primary" name="postRegBtn" id='postRegBtn'>Submit
                                    register</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</body>

</html>