<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>
<div class="navbar navbar-dark bg-dark shadow-sm"><button class="btn-primary">Back to home page</button></div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2>The tree you just scanned!</h2>
                </div>
                <div class="card-body">
                    <div class="card-tittle">
                        <h3>The photo of the tree</h3>
                    </div>
                    <!-- <img src=<%= path%> alt=""> -->
                    <img src="Image/test.png" alt="">
                    <div class="card-tittle">
                        <h3>Location information</h3>
                    </div>
                    <ul>
                        <li>latitude: <%= lat%></li>
                        <li>longtitude: <%= long%></li>
                    </ul>
                    <div class="card-tittle">
                        <h3>Status</h3>
                    </div>
                    <p>Need report</p>
                    <form method="POST" action="/test2_post">
                        <input type="hidden" value="Image/test.png" name="url" readonly>
                        <button class="btn btn-primary" type="Submit">submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <body>

    </body>

</html>