<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- don't delete this -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/test.js"></script>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
    <div class="main">
        <div class="center clear">
            <main id="main">
                <div class="demo-wrapper">

                    <video id="video" width="320" height="240" autoplay=""></video>
                    <button id="snap" class="sexyButton">Snap Photo</button>
                    <canvas id="canvas" width="320" height="240"></canvas>

                    <script>

                    </script>
                </div>

            </main>

        </div>
    </div>

</body>
<!-- don't delete this -->
<script type="text/javascript" src="js/test.js"></script>

</html>