<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- don't delete this -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/test.js"></script>
</head>

<body>
    <div class="main">
        <div class="center clear">
            <main id="main">
                <div class="demo-wrapper">

                    <video id="video" width="640" height="480" autoplay=""></video>
                    <button id="snap" class="sexyButton">Snap Photo</button>
                    <canvas id="canvas" width="640" height="480"></canvas>

                    <script>
                        // Put event listeners into place
                        window.addEventListener("DOMContentLoaded", function () {
                            // Grab elements, create settings, etc.
                            var canvas = document.getElementById('canvas');
                            var context = canvas.getContext('2d');
                            var video = document.getElementById('video');
                            var mediaConfig = {
                                video: true
                            };
                            var errBack = function (e) {
                                console.log('An error has occurred!', e)
                            };

                            // Put video listeners into place
                            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                                navigator.mediaDevices.getUserMedia(mediaConfig).then(function (stream) {
                                    //video.src = window.URL.createObjectURL(stream);
                                    video.srcObject = stream;
                                    video.play();
                                });
                            }

                            /* Legacy code below! */
                            else if (navigator.getUserMedia) { // Standard
                                navigator.getUserMedia(mediaConfig, function (stream) {
                                    video.src = stream;
                                    video.play();
                                }, errBack);
                            } else if (navigator.webkitGetUserMedia) { // WebKit-prefixed
                                navigator.webkitGetUserMedia(mediaConfig, function (stream) {
                                    video.src = window.webkitURL.createObjectURL(stream);
                                    video.play();
                                }, errBack);
                            } else if (navigator.mozGetUserMedia) { // Mozilla-prefixed
                                navigator.mozGetUserMedia(mediaConfig, function (stream) {
                                    video.src = window.URL.createObjectURL(stream);
                                    video.play();
                                }, errBack);
                            }

                            // Trigger photo take
                            document.getElementById('snap').addEventListener('click', function () {
                                context.drawImage(video, 0, 0, 640, 480);
                                exportCanvasAsPNG(canvasid, fileName);
                            });


                        }, false);
                    </script>
                    <script>
                        function exportCanvasAsPNG(canvasid, fileName) {

                            var canvasElement = document.getElementById(canvasid);

                            var MIME_TYPE = "image/png";

                            var imgURL = canvasElement.toDataURL(MIME_TYPE);

                            var dlLink = document.createElement('a');
                            dlLink.download = fileName;
                            dlLink.href = imgURL;
                            dlLink.dataset.downloadurl = [MIME_TYPE, dlLink.download, dlLink.href].join(':');

                            document.body.appendChild(dlLink);
                            dlLink.click();
                            dlLink.remove();
                        };
                    </script>
                </div>

            </main>

        </div>
    </div>

</body>
<!-- don't delete this -->
<script type="text/javascript" src="js/test.js"></script>

</html>