<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to the home page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/user.js"></script>
</head>

<body>
    <div class="navbar navbar-dard bg-dark shadow-sm">
        <div class="col-10 d-flex justify-content-center">
            <h1 style="color: white">Arborist Go!</h1>
        </div>
        <div class="col">
            <form method="GET" action="/get_profile">
                <button class="btn btn-primary" type="Submit">profile</button>
            </form>
        </div>
    </div>
    <div class="container">
        <h1 class="d-flex justify-content-center">Welcome <%= uName%></h1>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h2>Scan and report a tree</h2>
                    </div>
                    <div class="card-body">
                        <div class="card-tittle "></div>
                        <div class="row">
                            <img src="Image/Slide2.PNG" style="width:900px;height:700px;" alt="">
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center">

                                <form method="GET" action="/test3">
                                    <button class="btn btn-primary" type="Submit">Select from library</button>
                                </form>
                            </div>
                            <div class="col d-flex justify-content-center">

                                <form method="GET" action="/test">
                                    <button class="btn btn-primary" type="Submit">Scan by camera</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>